* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

body {
    background: #FFF;
    /* font-size: 64px; */

}

/* <!-- header start --> */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

nav ul {
    display: flex;
    gap: 1rem;
}

nav ul li {
    list-style: none;
    color: var(--Dark-02, #424242);
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 26px;
    /* 144.444% */
    /* margin-right: 25px; */
}

/* primary */
.primary-btn {
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
}

p {
    color: var(--Dark-03, #727272);
    font-family: Work Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

/* banner style */
.banner-text {
    max-width: 800px;
    /* background-color: red; */
    margin: 50px auto;
    text-align: center;
}

.banner-text * {
    margin: 10px 0;
}

.banner-text h1 {
    color: var(--Dark-01, #131313);
    text-align: center;
    font-size: 4rem;
    font-weight: 700;
}

.banner-text p {
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.banner img {
    width: 100%;
}

/* <!-- header end --> */






/* feature section */
main {
    max-width: 1440px;
    /* background-color: red; */
    margin: 0 auto;
}

.fetures-sec {
    display: flex;
    justify-content: space-between;
    margin: 50px 260px;
    align-items: center;
    /* background-color: red; */
}

.features-group-image {
    width: 50%;
    /* background-color: #131313; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.features-group-image>img {
    width: 100%;
}

.feature-text {
    /* background-color: rebeccapurple; */
    width: 45%;
}

.feature-text>h2 {
    color: var(--Dark-03, #727272);
    font-size: 2rem;
    font-weight: 500;
}

.feature-text * {
    margin: 10px 0;
}

.hide {
    display: none;
}

/* features-will-sec start */
.features-will-sec {
    display: flex;
    /* justify-content: space-between; */
    margin: 30px 200px;
    /* background-color: red; */
    justify-content: space-between;

}

.features-will-text>p {
    padding-bottom: 20px;
}

.features-will-sec .features-will-text>h2 {
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
    border-left: 4px solid #FF900E;
    ;
    padding-left: 20px;
}

.features-will-text {
    width: 45%;
    /* background-color: red; */
}

.features-will-text * {
    margin: 10px 0;

}

.features-will-text .card {
    margin-left: 20px;
    border-radius: 8px;
    padding: 10px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.features-will-text .card>h2 {
    color: var(--Dark-01, #131313);
    font-size: 20px;
    font-weight: 600;
}

.features-will-img {
    width: 48%;
    /* margin-left: 50px; */
    
}

.features-will-img img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

/* Experience */
.experience {
    border-radius: 8px;
    background: #FF900E;
    padding: 15px 20px;
    width: 250px;
    text-align: center;
    position: relative;
    top: -70px;
    left: -50px;
}

.experience h2 {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 70px;
    /* 107.692% */
}

.experience>p {
    color: #FFF;
    font-family: Work Sans;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

/* features-will-sec end */

/* Some Facts */
.some-sec {
    padding: 0 200px;
}

.some-sec .fact-title {
    width: 60%;
}

.fact-card-container {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

.fact-card-container .card {
    text-align: center;
    padding: 20px 25px;
    border-radius: 8px;
    border: 1px solid #FF900E;
}

.fact-card-container .card * {
    padding: 3px 0;
}

.fact-card-container .card img {
    width: 45.221px;
    height: 45.222px;
    flex-shrink: 0;
}

.fact-card-container .card h5 {
    color: var(--Dark-02, #424242);
    font-size: 45px;
    font-weight: 600;
}

.fact-card-container .card>p {
    color: var(--Dark-03, #727272);
    font-size: 20px;
    font-weight: 600;
}

/* sponspors section */
.sponspors {
    padding: 50px 200px;

}

.sponspors .sponspors-text {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.sponspors .sponspors-text * {
    margin: 10px 0;
}

.sponspors .sponspors-text h2 {
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}

.sponspors .sponspors-social-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    /* border: 1px solid red; */

}

.sponspors .sponspors-social-icon>img {
    width: 120px;
}

















/* responsive website */
/* mobile devices */
@media screen and (max-width:576px) {
    header {
        background: rgba(255, 144, 14, 0.10);
        padding: 20px 30px;
    }

    nav {
        flex-direction: column;
        gap: 15px;
    }

    /* nav ul{
        flex-direction: column;
    } */
    .banner-text h1 {
        font-size: 2rem;
    }

    .banner-text {
        margin: 30px auto;
    }

    /* feature section */
    .fetures-sec {
        flex-direction: column;
        margin: 50px 60px;
    }
  

    .features-group-image {
        width: 100%;
        grid-template-columns: 1fr;
    }

    .feature-text {
        width: 100%;
    }

    .feature-text>h2 {
        font-size: 1.5rem;
    }

    /* features-will-sec */
    .features-will-sec {
        margin: 20px 60px;
        flex-direction: column;
    
    }
    .features-will-text .card {
        margin-left: 0px;
      
    }
    .features-will-img {
        width: 100%;
    }.features-will-text img{
        margin: 0 auto;
    }

    .features-will-text {
        width: 100%;
    }
    

    /* some fact */
    .some-sec {
        padding: 0 60px;
    }

    .some-sec .fact-title {
        width: 60%;
    }

    .fact-card-container {
        flex-direction: column;
        gap: 20px;
    }

    .some-sec .fact-title {
        width: 80%;
    }

    .some-sec .fact-title>h2 {
        color: var(--Dark-01, #131313);
        font-size: 3rem;
        font-weight: 700;
    }



    /* sponspors section */
    .sponspors {
        padding: 30px 60px;

    }

    .sponspors-social-icon {
        flex-direction: column;
        gap: 25px;
    }

    .sponspors .sponspors-text {
        width: 100%;
    }

}



/* tablet devices */
@media screen and (min-width:577px) and (max-width:992px) {
    header {
        background: rgba(255, 144, 14, 0.10);
        padding: 10px 50px;
        /* background-color: red; */
    }

    nav {
        flex-direction: column;
    }

    .banner-text h1 {
        font-size: 3.5 rem;
    }

    .banner-text {
        margin: 40px auto;
    }

    /* feature section */
    .fetures-sec {
        flex-direction: column;
        margin: 50px 60px;
    }

    .features-group-image {
        width: 100%;
    }

    .feature-text {
        width: 100%;
    }

    /* fact */
    .some-sec {
        padding: 0 60px;
    }

    .fact-card-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }



    /* sponspors section */
    .sponspors {
        padding: 30px 60px;
        /* background-color: #131313; */
    }

    .sponspors>.sponspors-social-icon {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* background-color: red; */
        gap: 30px;
        /* margin: 0 auto; */
    }

    .sponspors-social-icon img {
        margin: 0 auto;
    }

    .sponspors .sponspors-text {
        width: 100%;
    }
    .sponspors .sponspors-text p{
        width: 50%;
        text-align: center;
        margin: 0 auto;
    }

    
    /* features-will-sec */
    .features-will-sec {
        margin: 20px 60px;
        flex-direction: column;
    
    }
    .features-will-text .card {
        margin-left: 0px;
      
    }
    .features-will-img {
        width: 100%;
    }.features-will-text img{
        margin: 0 auto;
    }

    .features-will-text {
        width: 100%;
    }
}